[submodule "DLLModsSource/SonicGenerations/SonicUnleashedHUD/UnleashedHUD/include/BlueBlur"]
	path = DLLModsSource/SonicGenerations/SonicUnleashedHUD/UnleashedHUD/include/BlueBlur
	url = https://github.com/blueskythlikesclouds/BlueBlur
